@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --font-primary: 'Josefin Sans', sans-serif;
  /* colors */
  --bg-dark: #212121;
  --bg-light: #323232;
  --primary: #0d7377;
  --highlight: #14ffec;
  /* sizing */
  --header-height: 50px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  color: #f5f5f5;
  background-color: var(--bg-dark);
  display: grid;
  grid-template-rows: auto 1fr;
  scroll-behavior: smooth;
}

/* Header */

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
  padding-inline: 1em;
  box-sizing: border-box;
}

header a {
  text-decoration: none;
  color: whitesmoke;
}

header a:hover {
  cursor: pointer;
  color: var(--highlight);
}

a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  color: whitesmoke;
}

/* Typography */

h1 {
  font-size: 800%;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 400%;
}

p {
  font-size: 120%;
}

/* Hero */

section.hero {
  height: calc(100vh - var(--header-height));
  position: relative;
}

#dev {
  color: var(--highlight);
}

section.hero .content {
  background-color: var(--bg-dark);
  text-align: center;
  padding-top: 150px;
}

section.hero .content > * {
  animation: heroAnimation ease-in-out 1s;
}

@keyframes heroAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}

#hero-canvas {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Portfolio */

#portfolio {
  min-height: 100vh;
  background-color: var(--bg-light);
  position: relative;
  padding-top: 50px;
  padding-bottom: 150px;
  z-index: 0;
}

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 100px;
}

.portfolio-item img {
  max-width: 100%;
  width: 400px;
  border-radius: 10px;
}

.portfolio-text {
  max-width: 25em;
}

#about {
  min-height: 100vh;
  background-color: var(--primary);
}

.hidden > * {
  opacity: 0;
  visibility: hidden;
}

.hidden.ltr > * {
  transform: translateX(20vw);
}

.hidden.rtl > * {
  transform: translateX(-20vw);
}

.hidable > * {
  transition: all 0.5s ease;
}

/* Assets */

.wave {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  #portfolio {
    padding-top: 2em;
  }

  .portfolio-item {
    padding-inline: 1em;
    flex-direction: column;
    gap: 1em;
    flex-wrap: none;
    margin-bottom: 1em;
  }

  .portfolio-item:nth-of-type(even) {
    flex-direction: column-reverse;
  }
}
